$mgint: 40px


.content
	width: 100%
	transform: skew(0deg, -7deg) translateY(-230px)
	-ms-transform: skew(0deg, -7deg) translateY(-230px)
	-webkit-transform: skew(0deg, -7deg) translateY(-230px)
	-moz-transform: skew(0deg, -7deg) translateY(-190px)

.container
	+flex-pack(space-around, false, wrap, auto)
	max-width: 1550px
	margin: 0 auto
	padding-top: 226px
	transform: skew(0deg, 7deg)
	position: relative
	+r(1590)
		margin: 0 20px

.darker
	background: #4A454B
	color: #fff

.lighter
	background: #4B4D4F

.white
	background: #fff
	color: black

.count-wrap
	max-width: 1023px
	+r(875)
		max-width: 450px
		padding: 0
	+r(480)
		max-width: 300px

.counter
	flex-basis: 100%
	text-align: center
	margin: 5em 0 5em
	padding: 25px 70px
	border: 1px solid #90D23D
	border-radius: 15px
	+r(875)
		padding: 25px 0

#time
	display: block
	width: 100%
	padding: 0 20px
	font-size: 8em
	+r(1085)
		max-width: 85%
		margin: 0 auto
		font-size: 5em
	+r(875)
		font-size: 4em
		max-width: 100%
	+r(510)
		width: 100%
		font-size: 3em
	+r(480)
		width: 100%
		font-size: 1.7em
		padding: 0 20px

#tips
	+flex
	width: 100%
	justify-content: space-between
	padding: 0 80px 
	text-align: center
	font-size: 1.5em
	+r(1085)
		padding: 0
		font-size: 1.2em
		max-width: 65%
		margin: 0 auto
	+r(875)
		max-width: 83%
	+r(510)
		font-size: 1em
		max-width: 85%
	+r(480)
		font-size: 0.8em
		max-width: 86%


#tips span:nth-child(1)
	margin-left: 8px
	+r(480)
		margin-left: 10px

#tips span:nth-child(2)
	margin-left: 10px
	+r(480)
		margin-left: 3px

.images
	+flex
	align-items: baseline
	align-self: flex-start
	margin-top: 4em
	flex-basis: 82%
	transform: skew(0, -9deg) translateY(25px)
	+r(1280)
		transform: skew(0, -9deg) translateY(10px)
	+r(1000)
		margin-top: 3.8em
		transform: skew(0, -8deg) translate(2%, 10%)
	+r(555)
		flex-basis: 100%

.images img
	width: 12%
	height: 12%
	+r(1000)
		width: 22%
		height: 22%
	+r(555)
		height: 100px
	+r(480)
		height: 100px
	+r(450)
		height: 65px


.images img:nth-child(1)
	transform: translate(50%)
	z-index: 5

.images img:nth-child(2)
	transform: translate(20%)
	z-index: 4

.images img:nth-child(3)
	transform: translateY(-12%)
	z-index: 3

.images img:nth-child(4)
	transform: translate(-15%)
	z-index: 2

.images img:nth-child(5)
	transform: translate(-35%)

.about
	max-height: 30%
	padding-top: 0
	color: #000
	display: flex
	justify-content: center
	align-items: flex-end
	flex-wrap: wrap

.sign-part
	display: flex
	flex-basis: 75%
	justify-content: space-around
	align-items: flex-end
	transform: translateY(-30%)
	+r(1280)
		padding-top: 150px
	+r(1000)
		flex-basis: 100%
		flex-wrap: wrap
		transform: translateY(0)
		padding-top: 75px
		text-align: center

.welcome
	display: flex
	flex-wrap: wrap
	flex-basis: 45%
	align-self: flex-end
	+r(1000)
		flex-basis: 100%
		margin-bottom: $mgint 

.welcome h2
	flex-basis: 100%
	font-size: 2em

.welcome br
	margin: 1em

.welcome p
	font-size: 14px

.sign
	display: flex
	flex-basis: 40%
	flex-wrap: wrap
	justify-content: space-around
	box-shadow: 2px 2px 2px 2px #72706F
	background: #fff
	+r(1000)
		flex-basis: 100%
		margin-bottom: $mgint


.sign h2
	margin: 2em 0

.sign p
	margin-bottom: 2em

.sign form
	display: flex
	flex-basis: 86%
	flex-wrap: wrap

.sign form input
	flex-basis: 100%
	border: 1px solid #90D23D
	border-radius: 5px
	padding: 0.8em 0.5em
	margin: 1.1em 0
	font-size: 1.2em
	outline: none

.sign form input[type=submit]
	margin: 1.1em 0
	background: #90D23D
	color: #fff

.describe-content
	+flex
	flex-basis: 75%
	justify-content: space-between
	+r(769)
		display: block // Для коректного отображения в IE 11
		flex-direction: column

.shots
	flex-basis: 30%

	text-align: center
	+r(769)
		margin-bottom: $mgint
	&_img-wrap
			display: inline-block
			width: 210px
			height: 210px
			margin: 0 auto
			background-size: cover
			background-repeat: no-repeat
			background-position: 0 50%
			+r(1000)
				width: 155px
				height: 155px

.shots img
	display: block
	width: 100%

.shots h2
	padding: 45px 0 25px
	font-size: 35px
	line-height: 1
	+r(1000)
		font-size: 2em

.shots p
	text-align: center
	width: 100%
	height: 100%
	font-size: 14px
	font-weight: 300

.events
	height: 600px // Задана явная высота по причине того, что в IE 11 был баг, который не отрисовывал высоту корректно
	display: flex
	flex-basis: 72%
	justify-content: center
	flex-wrap: wrap
	color: #fff
	margin-top: 5em
	text-align: center
	+r(1000)
		flex-basis: 90%
	+r(769)
		flex-basis: 100%
		font-size: 0.8em
	+r(536)
		font-size: 0.8em

.events ul > li:first-child
	background: #A3CC40

.events h3
	font-size: 1.5em

.events > p
	margin: 2.5em 0
	color: #000

.sheldue
	+flex
	flex-direction: column
	flex-basis: 30%

.sheldue li
	+flex
	flex-basis: 100%
	align-items: center
	padding-left: 50px
	height: 20%
	+r(536)
		padding-left: 10px
	+r(430)
		padding-right: 5px
		padding-left: 10px

.sheldue li:first-child
	border-radius: 10px 0 0 0
	border: 1px solid #A3CC40

.sheldue li:last-child
	border-radius: 0 0 0 10px
	border: 1px solid #4B4D4F

.stuff
	+flex
	flex-direction: column
	flex-basis: 70%

.stuff li
	+flex
	flex-basis: 100%
	justify-content: space-between
	align-items: center
	// height: 20%

.stuff p
	+r(536)
		width: 80%

.stuff li:first-child
	border-radius: 0 10px 0 0
	border: 1px solid #A3CC40

.stuff li:last-child
	border-radius: 0 0 10px 0
	border: 1px solid #4B4D4F

.stuff li img
	width: 20%
	margin: 1em 3em
	cursor: pointer
	+r(536)
		width: 15px
		margin: 1em 1.5em
	+r(430)
		width: 10px
		margin: 1em 1em

// ------------------ELITE PART!----------------

.block
	margin-top: 11%
	justify-content: center

.center
	padding: 0 0
	height: 100%
	flex-basis: 70%
	flex-wrap: nowrap
	& button 
		margin-top: 100px

.orient-right
	justify-content: flex-end
	padding: 0 50px
	+r(1078)
		flex-basis: 85%
	+r(500)
		padding: 0
.elite
	padding: 130px 0 170px
	text-align: right
	+r(769)
		margin-top: 120px
	+r(536)
		margin-top: 100px
	& button 
		margin-top: 40px
	&_logo
		position: absolute
		top: -240px
		left: 0
		+r(1078)
			width: 300px
			height: 300px
		+r(769)
			width: 250px
			height: 250px
			left: -20px
		+r(536)
			width: 220px
			top: -220px
			+center(h)
		& img
			display: block
			width: 100%

.reward
	+flex
	flex-basis: 70%
	flex-flow: column nowrap
	justify-content: center
	text-align: right
	+r(536)
		flex-basis: 100%
		text-align: center

.reward h2
	font-size: 3em
	margin-bottom: 0.5em

.reward br
	margin: 0.5em 0

// ------------------ELITE PART END----------------

// ------------------TABLE PART!----------------

.table-bar
	flex-wrap: wrap
	padding: 0 30px

.speakers
	width: 40%
	margin-right: auto
	+r(769)
		width: 100%
		text-align: center

.shuvo
	+flex
	flex-basis: 100%
	justify-content: space-between
	flex-wrap: wrap
	align-self: center
	+r(550)
		flex-direction: column
		align-items: center

.bars
	width: 31%
	height: 350px
	background: #80B562
	margin: 0.5em 0
	border-radius: 10px
	display: inline-block
	
	+r(1281)
		height: 275px
	+r(769)
		width: 48%
		height: 150px
	+r(480)
		width: 100%

.shahriyer
	+flex
	color: #fff
	background-image: url(../img/background.png)
	justify-content: center
	align-items: center

.shuvo-inner
	flex-basis: 80%
	display: block
	flex-direction: column
	text-align: left

.shuvo-inner hr
	height: 0.5em
	display: inline-block
	width: 30%
	margin: 1em 0
	background: #fff
	border: none
	flex: 0 0 auto
	+r(769)
		margin: 0.5em 0
	+r(550)
		height: 0.2em

.shuvo-inner p
	flex-basis: 100%
	width: 100%  // Высота и ширина заданы для того, чтобы в IE текст не вылазил за переделы родителя
	height: 100%
	line-height: 1.5em
	align-self: flex-start
	flex: 0 0 auto
	+r(769)
		font-size: 0.9em
	+r(550)
		font-size: 0.8em

.shuvo-inner h2
	font-size: 3.0em
	flex-basis: 100%
	line-height: 1em
	flex: 0 0 auto
	+r(1360)
		font-size: 2em
	+r(946)
		font-size: 1.4em
	+r(769)
		font-size: 1.2em
	+r(550)
		font-size: 1em

.shuvo-inner > ul
	+flex
	width: 60%
	justify-content: space-between
	align-items: flex-end
	margin-top: 5.5em
	+r(1360)
		width: 70%
		margin-top: 3.5em
	+r(1150)
		width: 100%
	+r(946)
		margin-top: 3em
	+r(769)
		margin-top: 0.5em
	& a
		height: 100%
		+r(945)
			width: 26px
			height: 26px
		+r(769)
			width: 9px	
			height: 9px
	& img
		display: block
		width: 100%
		max-width: 100%
		height: auto
		cursor: pointer
		+r(769)
			width: 22px	
			height: 22px
		+r(550)
			width: 16px
			height: 16px

.stars
	background: #fff
	+flex
	justify-content: center
	align-items: center
	background-size: contain
	background-position: center
	background-repeat: no-repeat

// ------------------TABLE PART END----------------


// ------------------SPONSOR PART!----------------

.sponsor
	+flex
	flex-basis: 50%
	flex-wrap: wrap
	justify-content: center
	text-align: center
	align-items: center
	+r(1281)
		flex-basis: 70%
	+r(769)
		flex-basis: 75%

.sponsor h2
	flex-basis: 100%
	font-size: 2.7em
	margin: 2em 0 0.7em

.sponsor p:nth-of-type(2)
	flex-basis: 100%
	margin: 1em 0 3em

.logotips
	+flex-pack(space-around, center, false, 100%)
	+r(480)
		justify-content: center
		flex-wrap: wrap
	& .icon
		font-size: 28px
		fill: #82b541
		+r(480)
			display: block
			width: 100%
	& img
		+r(769)
			width: 30%
			margin-right: 15px
		+r(480)
			display: block
			width: 65%
			margin-bottom: 20px

// ------------------SPONSOR PART END----------------

 // ------------------COLOR-BLOCKS PART!----------------

.windows
	flex-wrap: wrap
	text-align: left
	+r(480)
		text-align: center

.windows h2
	flex-basis: 100%
	margin: 0 0 0.5em
	font-size: 3em

.windows p
	flex-basis: 100%

.top
	flex-basis: 90%
	+r(769)
		text-align: center

.color-blocks
	+flex
	flex-wrap: wrap
	flex-basis: 90%
	margin-top: 7em


.color-blocks div:first-child, .color-blocks div:last-child
	flex-basis: 53%

.color-blocks div:nth-child(2), .color-blocks div:nth-child(3)
	flex-basis: 47%

.color-blocks div:nth-child(1)
	background: #3D6ED2

.color-blocks div:nth-child(2)
	background: #90D23D

.color-blocks div:nth-child(3)
	background: #FF9D00

.color-blocks div:nth-child(4)
	background: #E0652A

.color-blocks div
	height: 23em
	+r(1280)
		height: 20em
	+r(769)
		height: 15em
	+r(480)
		height: 10em

 // ------------------COLOR-BLOCKS PART END----------------

 // ------------------MAP PART!----------------

// .more
// 	background: #373737
// 	color: #fff
// 	flex-basis: 10%
// 	margin-top: 7em

.map
	margin-top: 0
	padding: 20px 0 
	position: relative
	background-image: url(../img/map.png)

.map::before
	content: " "
	display: block
	position: absolute
	background: #000
	opacity: 0.5
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 2

.map-form
	+flex
	width: 75%
	margin: 0 auto
	position: relative
	background: #fff
	flex-wrap: nowrap
	justify-content: space-around
	z-index: 50
	+r(600)
		width: 90%
		flex-wrap: wrap

.map-view
	+flex
	flex-basis: 25%
	justify-content: center
	flex-wrap: wrap
	text-align: center
	align-items: center
	margin: 7em 0
	+r(1280)
		flex-basis: 40%
	+r(600)
		flex-basis: 100%

.map-view img
	width: 35%

.map-view p
	flex-basis: 100%
	margin: 2em

.map-view button
	flex-basis: 50%
	color: #fff
	background: #90D23D

.send-message
	+flex
	flex-basis: 25%
	flex-wrap: wrap
	margin: 3em 0
	align-items: space-around
	justify-content: center
	+r(1280)
		flex-basis: 40%
	+r(600)
		flex-basis: 90%

.send-message input[type=email]
	flex-basis: 100%
	height: 5%
	padding: 1em
	font-size: 0.9em
	border-radius: 5px
	border: 1px solid #A1D95B
	+placeholder
		padding: 5px

.send-message textarea
	flex-basis: 100%
	height: 50%
	font-size: 1em
	padding: 0.7em
	border: 1px solid #C8C8C8
	border-radius: 5px
	resize: none

.send-message input[type=submit]
	flex-basis: 100%
	height: 13%
	font-size: 1em
	border-radius: 5px
	border: none
	color: #fff
	background: #373737

 // ------------------MAP PART END----------------

// footer
// 	display: -webkit-flex
// 	display: -moz-flex
// 	display: -ms-flexbox
// 	display: -o-flex
// 	display: flex
// 	justify-content: center
// 	background: #90D23D
// 	color: #fff

// .social
// 	display: -webkit-flex
// 	display: -moz-flex
// 	display: -ms-flexbox
// 	display: -o-flex
// 	display: flex
// 	justify-content: center
// 	flex-wrap: wrap
// 	flex-basis: 25%
// 	margin: 3em 0

// .social ul
// 	display: -webkit-flex
// 	display: -moz-flex
// 	display: -ms-flexbox
// 	display: -o-flex
// 	display: flex
// 	flex-basis: 50%
// 	flex-wrap: wrap
// 	justify-content: space-between
// 	text-align: center
// 	margin-bottom: 1em

// .social ul > li
// 	flex-basis: 15%

// .social ul > li > img
// 	width: 100%
